%estilos-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%estilos-contacto {
    width: 100%;
    padding: 10px;
}

%estilos-font {
    text-transform: uppercase;
    font-size: 1.4rem;
}