// mixin con parametros 

@mixin medidas($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin margin($left, $right, $letra){
    margin-left: $left;
    margin-right: $right;
    font-size: $letra;
}

// mixin sin parametros 

@mixin fondo {
    background: $color-header;
    background: $color-header-dos;
}

@mixin titulo {
    text-align: center;
    text-transform: uppercase;
}

@mixin grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2fr 0.1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

@mixin grid-dos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
    grid-template-areas: 
        "a-uno a-dos"
        "img-uno img-dos"
        "a-tres a-cuatro"
        "img-tres img-cuatro"
        "a-cinco a-seis"
        "img-cinco img-seis"
        "a-siete a-ocho"
        "img-siete img-ocho"
        "a-nueve a-nueve"
        "img-nueve img-nueve";
}

@mixin grid-tres {
    display: grid;
        align-items: center;
        gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
        grid-template-areas: 
            "a-uno a-dos a-tres"
            "img-uno img-dos img-tres"
            "a-cuatro a-cinco a-seis"
            "img-cuatro img-cinco img-seis"
            "a-siete a-ocho a-nueve"
            "img-siete img-ocho img-nueve";
}

@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin boton {
    box-shadow: 3px 2px 5px black;
    text-shadow: 3px 2px 5px black;
}

@mixin hover {
    font-weight: bold;
    transform: scale(0.9);
}