$color-header: rgb(2,0,36); 
$color-header-dos: linear-gradient(90deg, rgba(2,0,36,1) 11%, rgba(71, 14, 95, 0.919) 53%, rgb(12, 22, 112) 100%);
$color-nav: #260E72;
$color-texto: #FFECBF;
$color-botones: #BD34D1;

//listas

$colores: 
whitesmoke,
#1AAE9F,
#FFA2F3, 
#BE80C5, 
#751280,
rgba(0,0,0,0.8),
black;